//$family-primary: "Monaco";

@import "../../node_modules/bulma/bulma";

.inner.social {
  ul {
    list-style-type: none;

    li {
      float: left;
      margin: .5em;
      font-size: 200%;
    }
  }
}

.position {
  ul {
    li {
      text-align: justify;
    }
  }
}

