//$family-primary: "Monaco";

$primary: #c9302c;

@import "../../node_modules/bulma/bulma";

#main-menu {
  top: 0;
  position: fixed;
  right: 0;
  left: 0;
  z-index: 1001;
}

.section {
  margin-top: 50px;
}

.footer {
  padding-bottom: 40px;
}

.theExperience .card, .theEducation .card, .theSpeaking .card {
  box-shadow: none;
  margin-bottom: 15px;


  .level {
    margin-bottom: 5px;

    .level-item {
      .title + .subtitle {
        margin-top: 0px;
      }
    }

  }

  .box-header {
    border-bottom: 1px solid #ccc;
    //border-top: 1px solid #ccc;
  }
  .card-header {
    box-shadow: none;
    border-bottom: 1px solid #ccc;
  }
}

.theExperience, .theEducation {
  .card.box {
    padding: 20px 0;
  }
}

.theSpeaking .talk-mini {
    margin-bottom: 1rem;

    .card-header {
      border: none;
      box-shadow: none;
    }
}

.theSkills .card {
  box-shadow: none;
  margin-bottom: 15px;
  
  .card-header {
    box-shadow: none;
    border-bottom: 1px solid #ccc;
  }
}

.card-footer {
  border-top: none;
}

/**
 * talks detail page 
 */
body.talk-detail {
  h1 {
    font-size: xx-large;
    margin-bottom: .3em;
  }
  
  h2 {
    font-size: x-large;
    margin-bottom: 0;
  }
  
  .tags {
    margin: 1em 0;
    
    .tag {
      margin: 0 1em 0 0;
    }
  }
  
  p {
    text-align: justify;
  }

  nav.pagination {
    margin-top: 3rem ;
  }
}

.flag-icon.with-text {
  padding-left: 2rem;
}
