<footer class="footer">
  <div class="container">
    <div class="content has-text-centered">
      <p>
        &copy; 2016 Georgiana Gligor. <a href="http://creativecommons.org/licenses/by-nc-sa/4.0/">Powered by Sculpin</a>.
      </p>
      <p>
        <a href="http://tekkie.ro/">
          <i class="fa fa-money"></i> Work with me
        </a>
      </p>
    </div>
  </div>
</footer>
