<nav class="nav has-shadow" id="main-menu">
  <div class="nav-left">
    <a class="nav-item is-brand" href="/">
      Georgiana Gligor
    </a>
  </div>

  <span class="nav-toggle">
    <span></span>
    <span></span>
    <span></span>
  </span>

  <div class="nav-right nav-menu">
      <a class="nav-item{% if 'Experience' == page.title %} is-active{% endif %}" href="/experience">Experience</a>
      <a class="nav-item{% if 'Speaking' == page.title %} is-active{% endif %}" href="/speaking">Speaking</a>
      <a class="nav-item{% if 'Education' == page.title %} is-active{% endif %}" href="/education">Education</a>
      <a class="nav-item{% if 'Skills' == page.title %} is-active{% endif %}" href="/skills">Skills</a>
      <a class="nav-item{% if 'References' == page.title %} is-active{% endif %}" href="/references">References</a>
  </div>
</nav>
