<div class="masthead clearfix">
  <div class="inner">
    <h3 class="masthead-brand">Georgiana<br /> Gligor</h3>
    <nav class="nav nav-masthead">
      <a class="nav-link{% if 'Experience' == page.title %} active{% endif %}" href="/experience">Experience</a>
      <a class="nav-link{% if 'Speaking' == page.title %} active{% endif %}" href="/speaking">Speaking</a>
      <a class="nav-link{% if 'Education' == page.title %} active{% endif %}" href="/education">Education</a>
      <a class="nav-link{% if 'Skills' == page.title %} active{% endif %}" href="/skills">Skills</a>
      <a class="nav-link{% if 'References' == page.title %} active{% endif %}" href="/references">References</a>
    </nav>
  </div>
</div>
